<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find your pet</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet" href="../static/css/style.css">-->
    <!--<style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
      </style>-->
</head>
  
<body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/aboutdogs">DOGS</a>
                <a class="dropdown-item" href="/aboutcats">CATS</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FIND YOUR MATCH</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/adoptadog">ADOPT A DOG</a>
                <a class="dropdown-item" href="/adoptacat">ADOPT A CAT</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">INFORMATION</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <a class="dropdown-item" href="/cost">PET CARE COST</a>
                </div>
              </li>
          </ul>
        </div>
      </nav>
  
  <!-- UPDATE contents here -->
  <div class="container">
      <div class="m-4"><br><br><br>
        <p>Approximately 6.5 million companion animals enter U.S. animal shelters nationwide every year. Of those, approximately 3.3 million are dogs and 3.2 million are cats. When you make a pet adoption decision, those factors could be considered: animal breed, coat color, gender, age, size, house-trained, vaccinated, spayed/neutered, location, good with other dogs/cats and good with children.
        </p>
        
      </div>
<br><br><br>
      <h5 align="center">DOG STATISTICS</h5>
      <div class="row d-flex justify-content-around ">
        <div class="column">
            <div id="pie_breed_dog"></div>
            <div id="pie_age_dog"></div>
        </div>
         
        <div class="column">
            <div id="pie_size_dog"></div>
            <div id="pie_color_dog"></div>
        </div>
      </div>


      <h5 align="center">MAP: AVAILABLE DOGS BY STATE</h5><br><br>
      <div id="map_dog"></div>
      <div class="mb-5"></div>

  </div>


  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/us-states.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/about_dog_chart.js') }}"></script>
  <script type="text/javascript">myPlot = drawPlot({{dog_statistics|tojson}})</script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/about_dog_map.js') }}"></script>
  <script type="text/javascript">myMap = drawMap({{dog_population|tojson}})</script>

</body>

</html>