<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find your pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet" href="../static/css/style.css">-->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
      </style>
</head>
  
<body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/aboutdogs">DOGS</a>
                <a class="dropdown-item" href="/aboutcats">CATS</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FIND YOUR MATCH</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/adoptadog">ADOPT A DOG</a>
                <a class="dropdown-item" href="/adoptacat">ADOPT A CAT</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">INFORMATION</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <a class="dropdown-item" href="/cost">PET CARE COST</a>
                </div>
              </li>
          </ul>
        </div>
      </nav>
      
  <!-- UPDATE contents here -->
  <div class="container">
    <div class="mt-4"></div><br><br><br>

    <p>Many animal adopters say they decide to adopt a dog or a cat because they just fell in love with them at first sight or they made an eye contact with the animal.  Others adopters are looking for companions for pets they may already own.
        Adopting an animal from an animal shelter is great but sadly many of them are returned to the shelter again.  Unexpected costs is the trending reason for returning adopted pets to shelters.  These unexpected costs are incurred due to the following “Top 3 Reasons”:
                      
                      Health issues and illness can result in costly emergency veterinary care,
                      Underestimated cost for necessities: food, capital expenditures, care costs,  
                      Behavioral issues can result in costly training fees.
  
       We want potential adopters to know the cost of own an animal and want them to make informed decision on animal adoption. 
          </p>
          <br>
          <br><br>

    <h5 align="center">THE COST OF OWNING A DOG OR CAT: ANNUAL COST</h5>
    <div id="stacked_bar_annual_cost"></div>
    <div id="dropdown_bar_annual_cost"></div>

    <div class="mt-4"></div>

    <h5 align="center">THE COST OF OWNING A DOG OR CAT: CAPITAL COST</h5>
    <div id="stacked_bar_capital_cost"></div>
    <div id="dropdown_bar_capital_cost"></div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/cost.js') }}"></script>
  <script type="text/javascript">myPlot = drawPlot({{cost_data|tojson}})</script>

</body>

</html>