<html>
<head>
	<title>Petmatchers</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/override.css">
</head>


<body>


<!--Header area-->
<div class="jumbotron header">
	<div class="container">
		<div class="row">
			<h1 class="border p-2">Petmatchers</h2>
		</div>
  		<div class="row text-center pt-5">
    		<div class="col-sm-4">About</div>
    		<div class="col-sm-4">Find Your Match!</div>
    		<div class="col-sm-4">Information</div>
  		</div>
	</div>
</div>




<!-- Main Body -->
<div class="container text-center">
  <div class="row">
    <div class="col-sm-6 text-center">
	</div>
    <div class="col-sm-6">
	</div>
  </div>
</div>




<!-- Footer -->
<footer class="footer text-center">
	<div class="container">
		&copy Copyright 2019.  All rights reversed.  Prosecutors will be violated.
	</div>
</footer>






	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
