<html>
<head>
	<title>Petmatchers</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/override.css">
</head>


<body>


<!--Header area-->
<div class="jumbotron header">
	<div class="container">
		<div class="row">
			<h1 class="border p-2">Petmatchers</h2>
		</div>
  		<div class="row text-center pt-5">
    		<div class="col-sm-4"><a href="/">About</a></div>
    		<div class="col-sm-4"><a href="/find">Find Your Match!</a></div>
    		<div class="col-sm-4"><a href="/information">Information</a></div>
  		</div>
	</div>
</div>




<!-- Main Body -->
<div class="container text-center">
  <div class="row">
    <div class="col-sm-6 text-center">
		<!-- Uncomment this img src line to use the image with the app, them remove the existing img src line below --> 
		<! -- <img src="/static/img/happy_family_with_pet.png" style="width:100%" class="img img-responsive" / -->
		<img src="../static/img/happy_family_with_pet.png" style="width:100%" class="img img-responsive" />
	</div>
    <div class="col-sm-6">
		<p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.</p>

		<p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>

		<p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
	</div>
  </div>
</div>




<!-- Footer -->
<footer class="footer text-center">
	<div class="container">
		&copy Copyright 2019.  All rights reversed.  Prosecutors will be violated.
	</div>
</footer>






	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
